@model locamerguu.Client

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nomCli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomCli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prenomCli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prenomCli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idCli }) |
    @Html.ActionLink("Back to List", "Index")
</p>
