@model IEnumerable<locamerguu.Client>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nomCli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prenomCli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nomCli)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prenomCli)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idCli }) |
            @Html.ActionLink("Details", "Details", new { id=item.idCli }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idCli })
        </td>
    </tr>
}

</table>
